<?xml version="1.0" encoding="UTF-8"?>
<Configuration name="aegis" status="INFO" strict="true">
    <Appenders>
        <Console name="stdout">
            <PatternLayout>
                <Pattern><![CDATA[%d <%p> <%t> <%x> <%X> <%c> %m%n]]></Pattern>
            </PatternLayout>
            <Filters>
                <ThresholdFilter level="INFO"/>
            </Filters>
        </Console>
        <RollingFile 
		        name="file" 
		        fileName="log/aegis.log" 
		        filePattern="log/aegis.%i.log"
		        createOnDemand="true">
            <PatternLayout>
                <Pattern><![CDATA[%d <%-5p> <%-35.35t> <%x> <%X> <%50.50c> %m%n]]></Pattern>
            </PatternLayout>
              <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
              </Policies>
              <DefaultRolloverStrategy max="5" />
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="stdout"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>